*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baumans", system-ui;
    font-weight: bolder;
    font-style: normal;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #221f26;
}   

header{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.name{
    color: #d8c4f1;
    text-decoration: none;
    font-size: 3em;
    border-radius: 10em;
    background-color: #221f26;
    border: 0.1em solid #d8c4f1;
    padding: 0.25em 0.5em;
}

.name:hover{
    transition: all 0.2s ease-in-out;
    color: #d8c4f1;
    background-color: #d8c4f1;
    color: #221f26;
    border: 0.1em solid #221f26;
    padding: 0.25em 0.5em;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    List-style: none;
    margin-Left: 1.5em;
    filter: brightness(0.9);
    transition: all 0.2s ease-in-out;
}

header ul li:hover{
    filter: brightness(1);
    transform: scale(1.2);
}

header ul li a{
    text-decoration: none;
    padding: 0.5em 1em;
    color: #d8c4f1;
    background-color: #221f26;
    border: 0.2em solid #d8c4f1;
    border-radius: 10em;
}

header ul li a:hover,
header ul li a.active{
    background-color: #d8c4f1;
    border: 0.2em solid #221f26;
    color: #2b1055;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section img{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}



#bg{
    z-index: 0;
}

#one{
    z-index: 1;
}

#two{
    z-index: 2;
}

#three{
    z-index: 3;
}

#four{
    z-index: 4;
}

#five{
    z-index: 5;
}

#scroll_txt{
    align-self: center;
    color: #d8c4f1;
-webkit-text-stroke: 0.05em #221f26;
    font-size: 7.5em;
    z-index: 9;
   
}

.desc{ 
    position: relative;
    padding: 5em;
    background: #24182C;
}
.desc h1, h2, h3, h4, h5, h6{
    font-size: 5em;
    margin-bottom: 0.25em;
    text-align: center;
    color: #d8c4f1;
}
.desc p{
    font-size: 2em;
    color:#d8c4f1;
    text-align: center;
    text-wrap:pretty;
}